In [3]:
from pyspark import SparkContext
from pyspark.sql import SQLContext, Row
from pyspark.sql import functions as F

# sc.stop()

sc = SparkContext()
sqlContext = SQLContext(sc)

rdd = sc.textFile("temperature-readings-tiny.csv")
parts = rdd.map(lambda l: l.split(";"))
df = parts.map(lambda p: Row(year=p[1].split("-")[0], value=float(p[3]),station=int(p[0]) ))

df = sqlContext.createDataFrame(df)
df.registerTempTable("tempReadings")

df1 = df.filter(df.year.between(1950,2014))S
df2 = df.groupBy("year",).agg({"value":"max"}).withColumnRenamed("max(value)","value")
df2 = df2.join(df1, ["year","value"],"inner").select("year","station","value").sort(df2.value.desc())

df3 = df.groupBy("year",).agg({"value":"min"}).withColumnRenamed("min(value)","value")
df3 = df3.join(df1, ["year","value"],"inner").select("year","station","value").sort(df3.value.desc())

df2.show()

+----+-------+-----+
|year|station|value|
+----+-------+-----+
|2014| 102150| 50.0|
|1955| 102160| 30.0|
|1960| 102190| 29.0|
|1959| 102190| 28.2|
|1958| 102190| 28.1|
|1956| 102190| 26.0|
|1957| 102190| 25.2|
|1961| 102190| 19.0|
|2013| 102170| 10.2|
+----+-------+-----+

In [4]:
rdd2 = df2.rdd
rdd2.take(10)
# rdd2.saveAsTextFile("max_temperatureSorted")

rdd3 = df3.rdd
rdd3.take(10)
# rdde.saveAsTextFile("min_temperatureSorted")

[Row(year='2013', station=102170, value=-13.3),
 Row(year='1957', station=102190, value=-19.9),
 Row(year='1959', station=102190, value=-23.2),
 Row(year='1961', station=102190, value=-23.5),
 Row(year='2014', station=102170, value=-24.3),
 Row(year='1955', station=102190, value=-26.2),
 Row(year='1958', station=102190, value=-27.9),
 Row(year='1960', station=102190, value=-28.3),
 Row(year='1956', station=102190, value=-30.0)]